{% extends 'core/base.html' %}

{% block header %}
<h1 class="text-center">Contacto</h1>
<p class="text-center">Escríbeme</p>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <p>Si por alguna razón has llegado hasta aquí y quieres ponerte en contacto conmigo, escríbeme.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <p><b>email:</b> ffdelzon@gmail.com</p>
    </div>
</div>
{% endblock %}